.login-form
{
    margin-left: 35%;
    margin-right: 35%;
    margin-top:5%;
    margin-bottom: 25%;
}

body
{
    background-color: rgb(27, 27, 27);
}

#username
{
    color: #e6e6e6;
}

#password
{
    color: #e6e6e6;
}

#logo
{
    margin-top: 5%;
}

#dash-logo
{
    margin-top: 2.5%;
    margin-left:40%;
    margin-bottom: 2.5%;
    color:white;
    display: flex;
    flex-direction: row;
}

#logo-text
{
    margin-top : 3%;
    font-size: larger;
}

#logout-btns
{
    margin-left: 60%;
    margin-bottom: 2.5%;
    margin-top: 1%;
    margin-right: 2.5%;
    border-radius: 10%;
    height: 50px;
}

#card-holder
{
    margin-left: 35%;
}

.logs-heading
{
    color: #e6e6e6;
}

#logs
{
    margin-left: 30%;
    margin-right: 30%;
}

#license-plate-result
{
    color:white;
}